<div ng-init="view()">
    <div id="mainDashLogo">
        <div class="d-flex justify-content-center pl-5 pr-5 pt-5 pb-0" >
            <div class="pl-3 pr-3 pl-sm-5 pr-sm-5 pt-3 pb-0" style="max-width: 600px; max-height: 600px; width: 100%;" ng-include="'/assets/images/logo.html'">
            </div>
        </div>
        <div class="d-flex justify-content-center pl-5 pr-5 pt-3 pb-0 text-center">
            <div style="font-family: Raleway; font-size: x-large; font-weight: bold; color: hsla(0, 0%, 80%, 1);">Waveform Recommendations Gameshow 
                <div style="font-weight: normal; color: grey; font-size: large;">UI Generator</div></div>
        </div>
        <div class="d-flex justify-content-center pl-5 pr-5 pt-1 pb-0 text-center">
            <div style="font-family: Raleway; font-size: small; color: hsla(0, 0%, 40%, 1); max-width: 70%;">
                Based on the.. uh "gamified" recommendations game show on Waveform Podcast. This is a fun project related to that. And an excuse to learn about sending information across tabs using local storage. 
                <div class="click-link" style="font-family: Nunito;" ng-click="visitWithTarget('https://github.com/prajwalsouza/WVFRM-recommendation-game-ui', '_blank')">
                    <i class="fa fa-github mr-2"></i>prajwalsouza/WVFRM-recommendation-game-ui
                </div>
                
        </div>
    </div>
    
    
    <div class="d-flex justify-content-center pl-5 pr-5 pt-5 pb-0">
        <div class="p-5" style="max-width: 1000px; max-height: 600px; width: 100%;">
            <div>
                <div class="raleway" style="font-size: large; font-weight: bold; color: grey; ">
                    Round Type
                </div>
                <div class="hs-container-outer-ignus ">
                    <div class="d-none d-sm-flex hs-container-left-button-ignus" onclick="ignusTheme.hsMoveLeft('#theRoundsHS', 70)" style="background: none;">
                        <i class="fa fa-angle-left"></i>
                    </div>
                    <div class="d-none d-sm-flex hs-container-right-button-ignus" onclick="ignusTheme.hsMoveRight('#theRoundsHS', 70)" style="background: none;">
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div id="theRoundsHS" class="hs-container-inner-ignus">
                        <div class="hs-container-element-ignus" ng-repeat="(roundKey, round) in appData.rounds" ng-click="ui.roundUnselectAll(); round.selected = true; appData.editor.editingRound = roundKey; saveAppData();">
                            <div class="{{round.selected ? 'round-selected':''}} round pl-4 pr-4 pt-2 pb-2 ml-2 mt-2"><div class="round-text">{{round.name}}</div></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="pt-4">
                <div style="font-size: small; color: hsla(0, 0%, 40%, 1)">Playing/Rendering locally in this browser at</div>
                <div style="font-family: Nunito;" class="click-link" ng-click="visitWithTarget('/#!/ui/' + appData.editor.editingRound, '_blank')">{{baseURL}}#!/ui/{{appData.editor.editingRound}}</div>
            </div>

            <div class="pt-4" style="font-family: Nunito; font-weight: bold;">
                <div>
                    <span class="pt-2 pb-2 pr-4 pl-4 pause-play-button" ng-click="appData.rounds[appData.editor.editingRound].started = !appData.rounds[appData.editor.editingRound].started; findCurrentTime(); appData.rounds[appData.editor.editingRound].startedTime = currentTime; setNextParticipant(); chooseOptionStartSpinning(); saveAppData(); " style="{{appData.rounds[appData.editor.editingRound].started ? 'color: hsla(0, 40%, 70%, 1);':''}}">
                        <i class="fa fa-{{appData.rounds[appData.editor.editingRound].started ? 'stop':'play'}} pr-3"></i>{{appData.rounds[appData.editor.editingRound].started ? 'Stop':'Play'}}
                    </span>
                </div>
                <div class="mt-4" style="color: hsla(0, 0%, 60%, 1)">
                    <span class="pt-2 pb-2 pr-4 pl-4 mr-4">
                        <i class="fa fa-refresh pr-3 click-link" ng-click="chooseRandomOptionForRound()" style="cursor: pointer;"></i>
                        {{appData.rounds[appData.editor.editingRound].options[appData.rounds[appData.editor.editingRound].parameters.random_option].name}}
                    </span>
                    <span class="pt-2 pb-2 pr-4 pl-4"><i class="fa fa-clock-o pr-3"></i>
                        <span ng-show="appData.rounds[appData.editor.editingRound].started && appData.rounds[appData.editor.editingRound].maximumTime - parseInt((currentTime - appData.rounds[appData.editor.editingRound].startedTime)/1000) > 0">
                            {{(appData.rounds[appData.editor.editingRound].maximumTime - (currentTime - appData.rounds[appData.editor.editingRound].startedTime)/1000) | number: 1}}
                        </span>
                        <span ng-hide="appData.rounds[appData.editor.editingRound].started && appData.rounds[appData.editor.editingRound].maximumTime - parseInt((currentTime - appData.rounds[appData.editor.editingRound].startedTime)/1000) > 0">
                            {{appData.rounds[appData.editor.editingRound].maximumTime}}
                        </span>
                    </span>
                </div>
                <div class="mt-2" style="color: hsla(0, 0%, 60%, 1)">
                    <div class="pt-3 pb-1 pr-2" style="font-size: small; color: hsla(0, 0%, 40%, 1);">Current Participant</div>
                    <select class="input-underlined-ignus pr-0" style="width: 200px; background: none; color: white;" ng-model="appData.participants[appData.rounds[appData.editor.editingRound].parameters['current_participant_key']].name" ng-change="saveAppData();">
                        <option style="background-color: black;" ng-repeat="(participantKey, participant) in appData.participants" value="{{participant.name}}">{{participant.name}}</option>
                    </select>
                </div>
            </div>




            <div class="pt-5 pb-5" ng-if="appData.editor.editingRound == 'easy-medium-hard'">
                <div class="pt-4 pb-5 pl-0 pr-0">
                    <div class="raleway" style="font-size: large; font-weight: bold; color: hsla(0, 0%, 60%, 1);">Configurations 
                        
                    </div>

                    <div class="pt-3">
                        <span style="color: hsla(0, 0%, 50%, 1);">Maximum Time (s)</span>
                        <input type="number" class="input-underlined-ignus pr-0" style="width: 100px; background: none; color: white;" placeholder="23" ng-model="appData.rounds[appData.editor.editingRound].maximumTime" step="0.01" ng-change="saveAppData();">
                    </div>

                    <div class="pt-3">
                        <span style="color: hsla(0, 0%, 50%, 1);">Wheel Spinning Time (s)</span>
                        <input type="number" class="input-underlined-ignus pr-0" style="width: 100px; background: none; color: white;" placeholder="23" ng-model="appData.rounds[appData.editor.editingRound].wheelSpinningTime" step="1" ng-change="saveAppData();">
                    </div>

                    <div class="pt-3">
                        <div style="color: hsla(0, 0%, 50%, 1);">Participants</div>
                        <div style="color: hsla(0, 0%, 40%, 1); font-size: x-small;">Click to edit names. To add, enter the name and then his 'Enter'.</div>
                        <div class="pt-3">
                            <div class="hs-container-outer-ignus">
                                <div class="d-none d-sm-flex hs-container-left-button-ignus" onclick="ignusTheme.hsMoveLeft('#theParticipantsListEditHS', 70)" style="background: none;">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div class="d-none d-sm-flex hs-container-right-button-ignus" onclick="ignusTheme.hsMoveRight('#theParticipantsListEditHS', 70)" style="background: none;">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div id="theParticipantsListEditHS" class="hs-container-inner-ignus pl-0">
                                    <div class="hs-container-element-ignus">
                                        
                                        <div class="participantEditButton mr-2 pr-3 pl-3 pt-1 pb-1 d-flex align-items-center">
                                            <div>
                                                <i class="fa fa-plus mr-2" style="font-size: smaller; transform: translateY(-2px);"></i>
                                            </div>
                                            <div>
                                                <input type="text" class="input-underlined-ignus m-0 p-0" style="width: 100px; background: none; border: 0px solid black; color: inherit; " placeholder="Add" ng-keypress="addParticipant($event)" ng-model="appData.editor.addingParticipantName">
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="hs-container-element-ignus" ng-repeat="(participantKey, participant) in appData.participants">
                                        
                                        <div class="participantEditButton mr-2 pr-3 pl-3 pt-1 pb-1 d-flex align-items-center">
                                            <div>
                                                <input type="text" class="input-underlined-ignus m-0 p-0" style="width: 100px; background: none; border: 0px solid black; color: inherit;" placeholder="Marques" ng-model="appData.participants[participantKey].name" ng-change="saveAppData();">
                                            </div>
                                            <div>
                                                <i class="fa fa-trash ml-4" style="font-size: x-small; transform: translateY(-2px);" ng-click="deleteEntry(appData.participants, participantKey); saveAppData();"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="pt-3">
                        <div style="color: hsla(0, 0%, 50%, 1);">Round Options</div>
                        <div style="color: hsla(0, 0%, 40%, 1); font-size: x-small;">Click to edit Options. To add, write an option and hit 'Enter'.</div>
                        <div class="pt-3">
                            <div class="hs-container-outer-ignus">
                                <div class="d-none d-sm-flex hs-container-left-button-ignus" onclick="ignusTheme.hsMoveLeft('#theRoundsListEditHS', 70)" style="background: none;">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div class="d-none d-sm-flex hs-container-right-button-ignus" onclick="ignusTheme.hsMoveRight('#theRoundsListEditHS', 70)" style="background: none;">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div id="theRoundsListEditHS" class="hs-container-inner-ignus pl-0">
                                    <div class="hs-container-element-ignus">
                                        
                                        <div class="participantEditButton mr-2 pr-3 pl-3 pt-1 pb-1 d-flex align-items-center">
                                            <div>
                                                <i class="fa fa-plus mr-2" style="font-size: smaller; transform: translateY(-2px);"></i>
                                            </div>
                                            <div>
                                                <input type="text" class="input-underlined-ignus m-0 p-0" style="width: 100px; background: none; border: 0px solid black; color: inherit; " placeholder="Add" ng-keypress="addOption($event)" ng-model="appData.editor.addingOptionName">
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="hs-container-element-ignus" ng-repeat="(roundOptionsKey, roundOptions) in appData.rounds[appData.editor.editingRound].options">
                                        
                                        <div class="participantEditButton mr-2 pr-3 pl-3 pt-1 pb-1 d-flex align-items-center">
                                            <div>
                                                <input type="text" class="input-underlined-ignus m-0 p-0" style="width: 100px; background: none; border: 0px solid black; color: inherit;" placeholder="Easy" ng-model="roundOptions.name" ng-change="saveAppData();">
                                            </div>
                                            <div>
                                                <i class="fa fa-trash ml-4" style="font-size: x-small; transform: translateY(-2px);" ng-click="deleteEntry(appData.rounds[appData.editor.editingRound].options, roundOptionsKey); saveAppData();"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    

                    <div class="pt-4">
                        <div style="color: hsla(0, 0%, 50%, 1);">Nature of Randomness</div>
                        <div>
                            <!-- checkbox for 'Choose one option atleast per round' -->
                            <div class="d-flex align-items-center pt-2">
                                <div class="pt-2 pb-2">
                                    <!-- <input type="checkbox" class="waveformcheckbox-ignus" ng-model="appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once"> -->

                                    <i class="click-link fa fa-toggle-{{appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once ? 'on': 'off'}}" ng-click="appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once = !appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once; saveAppData();" style="cursor: pointer; transform: translateY(-2px);"></i>
                                </div>
                                

                                <div class="pt-1 pb-2 pl-3 pl-md-2 click-link" style="font-size: small; color: hsla(0, 0%, {{appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once ? '70':'40'}}%, 1);" ng-click="appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once = !appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once; saveAppData();">
                                    Choose all options at least once
                                </div>

                            </div>

                            <div class="d-flex align-items-center pt-0">
                                <!-- <div class="pt-1 pb-2"> -->
                                    <!-- <input type="checkbox" class="waveformcheckbox-ignus" ng-model="appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning" ng-change="saveAppData();"> -->

                                    <!-- <i class="click-link fa fa-toggle-{{appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning ? 'on': 'off'}}" ng-click="appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning = !appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning; saveAppData();" style="cursor: pointer; transform: translateY(-2px);"></i> -->

                                <!-- </div> -->
                            

                                <!-- <div class="pt-0 pb-2 pl-3 pl-md-2 click-link" style="font-size: small; color: hsla(0, 0%, {{appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning ? '70':'40'}}%, 1);" ng-click="appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning = !appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning; saveAppData();">
                                    Start countdown when the wheel starts spinning (random choice eats up some of the countdown timer)
                                </div> -->
                            </div>


                        </div>
                    </div>

                    <div class="pt-5 click-link" ng-click="resetAppData(); visit('/');">
                        <i class="fa fa-refresh mr-2 "></i>
                        Reset everything to default
                    </div>


                </div>












                <div class="mt-5 pt-5">
                    <div class="raleway pb-3" style="font-size: large; font-weight: bold; color: grey; ">
                        Sample Preview and Element Visibility

                        <div style="font-weight: normal; font-size: small; font-family: Nunito;">
                            Just a sample preview, the actual render is at <span style="font-family: Nunito;" class="click-link" ng-click="visitWithTarget('/#!/ui/' + appData.editor.editingRound, '_blank')">{{baseURL}}#!/ui/{{appData.editor.editingRound}}</span>
                        </div>
                    </div>
                    <div id="sample-preview" class="pb-5 mb-5">
                        <div class="raleway" style="font-size: 100px; font-weight: bold; color: hsla(0, 40%, 50%, 1); {{appData.editor.editingOptions.randomOptionBox.visible ? '':'filter: saturate(0) brightness(3);'}}">

                            <span>
                                {{appData.rounds[appData.editor.editingRound].options[appData.rounds[appData.editor.editingRound].parameters.random_option].name}}
                            </span>

                            <span class="fa fa-{{appData.editor.editingOptions.randomOptionBox.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor.editingOptions.randomOptionBox.visible = !appData.editor.editingOptions.randomOptionBox.visible; saveAppData();"></span>
                        </div>
        
        
                        <div class="raleway" style="font-weight: bold;  {{appData.editor.editingOptions.randomOptionText.visible ? '':'filter: saturate(0) brightness(3);'}}">RANDOM OPTION<span class="fa fa-{{appData.editor.editingOptions.randomOptionText.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor.editingOptions.randomOptionText.visible = !appData.editor.editingOptions.randomOptionText.visible; saveAppData();"></span></div>
        
                        <div class="raleway pt-5" style="font-size: 100px; font-weight: bold; color: hsla(0, 0%, 100%, 1);">45<span style="color: hsla(0, 0%, 80%, 1);">.1<span class="fa fa-{{appData.editor.editingOptions.seconds.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor.editingOptions.seconds.visible = !appData.editor.editingOptions.seconds.visible; saveAppData();"></span><span class="pl-3" style="color: hsla(0, 0%, 60%, 1); font-size: 100px;">s<span class="fa fa-{{appData.editor.editingOptions.secondsUnit.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor.editingOptions.secondsUnit.visible = !appData.editor.editingOptions.secondsUnit.visible; saveAppData();"></span></span></span></div>
                        <div class="d-inline-block pr-5 pt-5 pb-0" >
                            
                            <span class="fa fa-{{appData.editor.editingOptions.waveformLogo.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor.editingOptions.waveformLogo.visible = !appData.editor.editingOptions.waveformLogo.visible; saveAppData();"></span>
                            <div class="pr-3 pr-sm-5 pt-3 pb-0" style="max-width: 200px; max-height: 200px; width: 30%; min-width: 200px; " ng-include="'/assets/images/logo.html'"></div>

                            <div class="raleway" style="font-size: 30px; font-weight: bold; color: hsla(0, 0%, 90%, 1)">Marques <span class="fa fa-{{appData.editor.editingOptions.participantName.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor.editingOptions.participantName.visible = !appData.editor.editingOptions.participantName.visible; saveAppData();"></span>
                            </div>

                            <div class="raleway" style="font-weight: bold;">Participant
                                <span class="fa fa-{{appData.editor.editingOptions.participantText.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor.editingOptions.participantText.visible = !appData.editor.editingOptions.participantText.visible; saveAppData();"></span>
                            </div>
                            
                        
                        </div>
                        <div class="position-relative pt-5 pr-5">
                            <div class="float-right">
                                <!-- play button from font awesome with rounded corners -->
                                <!-- <div class="d-flex justify-content-center align-items-center pause-play-ui-button" ><i class="fa fa-play"></i></div> -->
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>


            <div class="pt-5 pb-5" ng-if="appData.editor.editingRound == 'something-that'">
                <div class="pt-4 pb-5 pl-0 pr-0">
                    <div class="raleway" style="font-size: large; font-weight: bold; color: hsla(0, 0%, 60%, 1);">Configurations 
                        
                    </div>

                    <div class="pt-3">
                        <span style="color: hsla(0, 0%, 50%, 1);">Maximum Time (s)</span>
                        <input type="number" class="input-underlined-ignus pr-0" style="width: 100px; background: none; color: white;" placeholder="23" ng-model="appData.rounds[appData.editor.editingRound].maximumTime" step="0.01" ng-change="saveAppData();">
                    </div>

                    <div class="pt-3">
                        <span style="color: hsla(0, 0%, 50%, 1);">Wheel Spinning Time (s)</span>
                        <input type="number" class="input-underlined-ignus pr-0" style="width: 100px; background: none; color: white;" placeholder="23" ng-model="appData.rounds[appData.editor.editingRound].wheelSpinningTime" step="1" ng-change="saveAppData();">
                    </div>

                    <div class="pt-3">
                        <div style="color: hsla(0, 0%, 50%, 1);">Participants</div>
                        <div style="color: hsla(0, 0%, 40%, 1); font-size: x-small;">Click to edit names. To add, enter the name and then his 'Enter'.</div>
                        <div class="pt-3">
                            <div class="hs-container-outer-ignus">
                                <div class="d-none d-sm-flex hs-container-left-button-ignus" onclick="ignusTheme.hsMoveLeft('#theParticipantsListEditHS', 70)" style="background: none;">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div class="d-none d-sm-flex hs-container-right-button-ignus" onclick="ignusTheme.hsMoveRight('#theParticipantsListEditHS', 70)" style="background: none;">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div id="theParticipantsListEditHS" class="hs-container-inner-ignus pl-0">
                                    <div class="hs-container-element-ignus">
                                        
                                        <div class="participantEditButton mr-2 pr-3 pl-3 pt-1 pb-1 d-flex align-items-center">
                                            <div>
                                                <i class="fa fa-plus mr-2" style="font-size: smaller; transform: translateY(-2px);"></i>
                                            </div>
                                            <div>
                                                <input type="text" class="input-underlined-ignus m-0 p-0" style="width: 100px; background: none; border: 0px solid black; color: inherit; " placeholder="Add" ng-keypress="addParticipant($event)" ng-model="appData.editor.addingParticipantName">
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="hs-container-element-ignus" ng-repeat="(participantKey, participant) in appData.participants">
                                        
                                        <div class="participantEditButton mr-2 pr-3 pl-3 pt-1 pb-1 d-flex align-items-center">
                                            <div>
                                                <input type="text" class="input-underlined-ignus m-0 p-0" style="width: 100px; background: none; border: 0px solid black; color: inherit;" placeholder="Marques" ng-model="appData.participants[participantKey].name" ng-change="saveAppData();">
                                            </div>
                                            <div>
                                                <i class="fa fa-trash ml-4" style="font-size: x-small; transform: translateY(-2px);" ng-click="deleteEntry(appData.participants, participantKey); saveAppData();"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="pt-3">
                        <div style="color: hsla(0, 0%, 50%, 1);">Round Options</div>
                        <div style="color: hsla(0, 0%, 40%, 1); font-size: x-small;">Click to edit Options. To add, write an option and hit 'Enter'.</div>
                        <div class="pt-3">
                            <div class="hs-container-outer-ignus">
                                <div class="d-none d-sm-flex hs-container-left-button-ignus" onclick="ignusTheme.hsMoveLeft('#theRoundsListEditHS', 70)" style="background: none;">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div class="d-none d-sm-flex hs-container-right-button-ignus" onclick="ignusTheme.hsMoveRight('#theRoundsListEditHS', 70)" style="background: none;">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div id="theRoundsListEditHS" class="hs-container-inner-ignus pl-0">
                                    <div class="hs-container-element-ignus">
                                        
                                        <div class="participantEditButton mr-2 pr-3 pl-3 pt-1 pb-1 d-flex align-items-center">
                                            <div>
                                                <i class="fa fa-plus mr-2" style="font-size: smaller; transform: translateY(-2px);"></i>
                                            </div>
                                            <div>
                                                <input type="text" class="input-underlined-ignus m-0 p-0" style="width: 100px; background: none; border: 0px solid black; color: inherit; " placeholder="Add" ng-keypress="addOption($event)" ng-model="appData.editor.addingOptionName">
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="hs-container-element-ignus" ng-repeat="(roundOptionsKey, roundOptions) in appData.rounds[appData.editor.editingRound].options">
                                        
                                        <div class="participantEditButton mr-2 pr-3 pl-3 pt-1 pb-1 d-flex align-items-center">
                                            <div>
                                                <input type="text" class="input-underlined-ignus m-0 p-0" style="width: 100px; background: none; border: 0px solid black; color: inherit;" placeholder="Easy" ng-model="roundOptions.name" ng-change="saveAppData();">
                                            </div>
                                            <div>
                                                <i class="fa fa-trash ml-4" style="font-size: x-small; transform: translateY(-2px);" ng-click="deleteEntry(appData.rounds[appData.editor.editingRound].options, roundOptionsKey); saveAppData();"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    

                    <div class="pt-4">
                        <div style="color: hsla(0, 0%, 50%, 1);">Nature of Randomness</div>
                        <div>
                            <!-- checkbox for 'Choose one option atleast per round' -->
                            <div class="d-flex align-items-center pt-2">
                                <div class="pt-2 pb-2">
                                    <!-- <input type="checkbox" class="waveformcheckbox-ignus" ng-model="appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once"> -->

                                    <i class="click-link fa fa-toggle-{{appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once ? 'on': 'off'}}" ng-click="appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once = !appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once; saveAppData();" style="cursor: pointer; transform: translateY(-2px);"></i>
                                </div>
                                

                                <div class="pt-1 pb-2 pl-3 pl-md-2 click-link" style="font-size: small; color: hsla(0, 0%, {{appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once ? '70':'40'}}%, 1);" ng-click="appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once = !appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.choose_atleast_once; saveAppData();">
                                    Choose all options at least once
                                </div>

                            </div>

                            <div class="d-flex align-items-center pt-0">
                                <!-- <div class="pt-1 pb-2"> -->
                                    <!-- <input type="checkbox" class="waveformcheckbox-ignus" ng-model="appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning" ng-change="saveAppData();"> -->

                                    <!-- <i class="click-link fa fa-toggle-{{appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning ? 'on': 'off'}}" ng-click="appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning = !appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning; saveAppData();" style="cursor: pointer; transform: translateY(-2px);"></i> -->

                                <!-- </div> -->
                            

                                <!-- <div class="pt-0 pb-2 pl-3 pl-md-2 click-link" style="font-size: small; color: hsla(0, 0%, {{appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning ? '70':'40'}}%, 1);" ng-click="appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning = !appData.rounds[appData.editor.editingRound].parameters.nature_of_randomness.startTimerWhenWheelIsSpinning; saveAppData();">
                                    Start countdown when the wheel starts spinning (random choice eats up some of the countdown timer)
                                </div> -->
                            </div>


                        </div>
                    </div>

                    <div class="pt-5 click-link" ng-click="resetAppData(); visit('/');">
                        <i class="fa fa-refresh mr-2 "></i>
                        Reset everything to default
                    </div>


                </div>












                <div class="mt-5 pt-5">
                    <div class="raleway pb-3" style="font-size: large; font-weight: bold; color: grey; ">
                        Sample Preview and Element Visibility

                        <div style="font-weight: normal; font-size: small; font-family: Nunito;">
                            Just a sample preview, the actual render is at <span style="font-family: Nunito;" class="click-link" ng-click="visitWithTarget('/#!/ui/' + appData.editor.editingRound, '_blank')">{{baseURL}}#!/ui/{{appData.editor.editingRound}}</span>
                        </div>
                    </div>
                    <div id="sample-preview" class="pb-5 mb-5 pt-4">
                        <div class="raleway" style="font-weight: bold; transform: translateY(-20px); font-size: 60px; color: hsla(0, 0%, 60%, 1);">Something that
                            <span class="fa fa-{{appData.editor['editingOptions-something-that'].randomOptionText.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor['editingOptions-something-that'].randomOptionText.visible = !appData.editor['editingOptions-something-that'].randomOptionText.visible; saveAppData();"></span>
                        </div>

                        <div class="raleway" style="font-size: 100px; font-weight: bold; color: hsla(0, 40%, 50%, 1); {{appData.editor['editingOptions-something-that'].randomOptionBox.visible ? '':'filter: saturate(0) brightness(3);'}}">

                            <span>
                                {{appData.rounds[appData.editor.editingRound].options[appData.rounds[appData.editor.editingRound].parameters.random_option].name}}
                            </span>

                            <span class="fa fa-{{appData.editor['editingOptions-something-that'].randomOptionBox.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor['editingOptions-something-that'].randomOptionBox.visible = !appData.editor['editingOptions-something-that'].randomOptionBox.visible; saveAppData();"></span>
                        </div>

                        
        

        
                        <div class="raleway pt-5" style="font-size: 100px; font-weight: bold; color: hsla(0, 0%, 100%, 1);">45<span style="color: hsla(0, 0%, 80%, 1);">.1<span class="fa fa-{{appData.editor['editingOptions-something-that'].seconds.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor['editingOptions-something-that'].seconds.visible = !appData.editor['editingOptions-something-that'].seconds.visible; saveAppData();"></span><span class="pl-3" style="color: hsla(0, 0%, 60%, 1); font-size: 100px;">s<span class="fa fa-{{appData.editor['editingOptions-something-that'].secondsUnit.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor['editingOptions-something-that'].secondsUnit.visible = !appData.editor['editingOptions-something-that'].secondsUnit.visible; saveAppData();"></span></span></span></div>
                        <div class="d-inline-block pr-5 pt-5 pb-0" >
                            
                            <span class="fa fa-{{appData.editor['editingOptions-something-that'].waveformLogo.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor['editingOptions-something-that'].waveformLogo.visible = !appData.editor['editingOptions-something-that'].waveformLogo.visible; saveAppData();"></span>
                            <div class="pr-3 pr-sm-5 pt-3 pb-0" style="max-width: 200px; max-height: 200px; width: 30%; min-width: 200px; " ng-include="'/assets/images/logo.html'"></div>

                            <div class="raleway" style="font-size: 30px; font-weight: bold; color: hsla(0, 0%, 90%, 1)">Marques <span class="fa fa-{{appData.editor['editingOptions-something-that'].participantName.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor['editingOptions-something-that'].participantName.visible = !appData.editor['editingOptions-something-that'].participantName.visible; saveAppData();"></span>
                            </div>

                            <div class="raleway" style="font-weight: bold;">Participant
                                <span class="fa fa-{{appData.editor['editingOptions-something-that'].participantText.visible ? 'eye':'eye-slash'}} position-absolute edit-option ml-3 mr-3" ng-click="appData.editor['editingOptions-something-that'].participantText.visible = !appData.editor['editingOptions-something-that'].participantText.visible; saveAppData();"></span>
                            </div>
                            
                        
                        </div>
                        <div class="position-relative pt-5 pr-5">
                            <div class="float-right">
                                <!-- play button from font awesome with rounded corners -->
                                <!-- <div class="d-flex justify-content-center align-items-center pause-play-ui-button" ><i class="fa fa-play"></i></div> -->
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>

            
        </div>
    </div>
    
</div>



<script>

    function handleWaves(e) {
        mouse_position = {
            x: e.clientX,
            y: e.clientY
        }

        waveformAmplitudes = document.getElementsByClassName('waveform-logo-amplitude');

        for (let i = 0; i < waveformAmplitudes.length; i++) {
            const element = waveformAmplitudes[i];
            // element.setAttribute('fill', `hsla(0, 0%, ${Math.floor(Math.random() * 100)}%, 1)`)
            elementID = element.id.split('waveform-logo-amplitude-')[1];
            spatialFrequency = 0.01; // how spread out the waves are sin(kx - wt), this is k
            timeFrequency = 0.1; // how much the waves are affected by the mouse, this is w

            // flow with a hint of red hue, but mostly white
            // sin (kx - wt) + 1

            element.setAttribute('fill', `hsla(0, 0%, ${Math.floor(80 + 20 * Math.sin(spatialFrequency * mouse_position.x + spatialFrequency * mouse_position.y + timeFrequency * i))}%, 1)`)

            // scale transform height deviation from normal, stretched from the center
            max_deviation = 0.01;
            spatialFrequencyForScale = 0.01;
            element.setAttribute('transform', `scale(1, ${1 + max_deviation * Math.sin(spatialFrequencyForScale * mouse_position.x + spatialFrequencyForScale * mouse_position.y + i)})`)
            
        }


    }
    
    document.getElementById('mainDashLogo').addEventListener('mousemove', handleWaves)

</script>